<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pagina principal de acceso</title>
</head>
<body>
<h1>Bienvenidos</h1>
<h2>Página principal de accesso</h2>
<a href="{{url_for('practica')}} ">Enviar mensaje</a>
</body>
</html>
